[submodule "dotcoal"]
	path = dotcoal
	url = git@github.com:goodje/dotcoal.git
	branch = dawn
[submodule "vender/Vundle.vim"]
	path = vender/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
