#SWORD_PATH=${SWORD_PATH}
SWORD_PATH=${HOME}/.sword
SWORD_CUSTOM_PATH=${SWORD_PATH}/custom

# -- alias
alias ll="ls -alh"
alias l="ll"


# -- PATH
export PATH=~/.sword/bin:$PATH

# -- zsh
ZSH_CUSTOM=$SWORD_PATH/zsh
# ZSH_THEME=tractor 

# -- function
source_include () {
    [[ -f $1 ]] && source $1
}

# custom rc
source_include $SWORD_CUSTOM_PATH/classified.shell.rc
source_include $SWORD_CUSTOM_PATH/shell.rc

# -- others
export LC_ALL=en_US.UTF-8
export CLICOLOR=1 #terminal color

