SWORD_PATH=${HOME}/.sword

source ${SWORD_PATH}/pre.sh
# -- alias
alias ll="ls -alh"
alias l="ll"

# -- PATH
if [[ -d ~/.local/bin ]]; then
    export PATH=~/.local/bin:$PATH
fi
export PATH=~/.sword/bin:$PATH

# -- zsh
ZSH_CUSTOM=$SWORD_PATH/zsh
# ZSH_THEME=tractor 

# don't share history between zsh client
setopt noincappendhistory
setopt nosharehistory
unsetopt share_history

# -- others
export LC_ALL=en_US.UTF-8
export CLICOLOR=1 #terminal color

# custom rc
source_include $SWORD_CUSTOM_PATH/classified.shell.rc
source_include $SWORD_CUSTOM_PATH/shell.rc
source ~/.local/lib/python2.7/site-packages/powerline/bindings/zsh/powerline.zsh
